// bower:scss
// endbower

$cyan: #2faf97;
$yellow: #fde645;
$base-font-family: 'Barlow Condensed', sans-serif;
$heading-font-family: 'Bungee', sans-serif;

*, *:before, *:after {
	box-sizing: border-box;
}

.browserupgrade {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

html {
	height: 100%;
}

body {
	background: #0e2d31;
	background: linear-gradient(-135deg, rgba(14, 45, 48, 0.85), rgba(69, 20, 67, 0.85)), linear-gradient(277deg, #57d967, rgba(20, 63, 69, 0.85)), linear-gradient(-73deg, #d95757, rgba(20, 63, 69, 0.85));
	font-family: $base-font-family;
	font-size: 16px;
	color: #333;
	padding: 20px;
}

header {
	max-width: 700px;
	margin: 0 auto;
	padding-top: 50px;
	display: flex;
	justify-content: space-between;
}

.game-info {
	display: flex;
	align-items: flex-end;
	font-size: 24px;
	margin-bottom: 5px;
}

.moves,
.time {
	color: $cyan;
}

.moves__counter,
.time__counter {
	color: white;
	display: inline-block;
}

.moves__counter {
	width: 30px;
}

.time__counter {
	width: 50px;
}

h1 {
	font-family: $heading-font-family;
	font-size: 48px;
	color: $cyan;
	position: relative;

	&:after {
		content: '.js';
		position: absolute;
		right: -35px;
		bottom: 3px;
		font-size: 42px;
		font-family: $base-font-family;
		color: white;
	}

	span[data-letter] {
		text-shadow: 0;
		transition: all, .5s;
	}

	span[data-letter].active {
		color: $yellow;
		text-shadow: 0 0 4px $cyan;
	}
}



.game-board {
	display: flex;
	flex-wrap: wrap;
	max-width: 700px;
	margin: 0 auto;
}

.card-wrapper {
	position: relative;
	width: calc(25% - 10px);
	padding-bottom: calc(25% - 10px);
	margin: 5px;
	perspective: 800px;
}

.card {
	height: 100%;
	width: 100%;
	position: absolute;
	border-radius: 5px;
	transition: all, .3s;
	transform-style: preserve-3d;

	&:hover {
		cursor: pointer;
		transform: rotateY( 15deg );
	}

	svg path {
		fill: white;
		transition: fill, .3s;
		transition-delay: 1s;
	}
}

.card__front,
.card__back {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	backface-visibility: hidden;
}

.card__front {
	background-color: darken($yellow, 17%);

	&:after {
		content: '';
		position: absolute;
		width: calc(100% - 16px);
		height: calc(100% - 16px);
		top: 8px;
		left: 8px;
		border-radius: 8px;
		background-color: $yellow;
		background: linear-gradient(to top, darken($yellow, 12%), $yellow);
		border-top: 1px solid rgba(white, 0.5);
	}
}

.card__back {
	background-color: lightgray;
	box-shadow: 0 0 100px -10px rgba(black, 0.2) inset;
	transform: rotateY( 180deg );
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all, .3s;
	transition-delay: 1s;
}

.card--flipped,
.card--matched {
	transform: rotateY( 180deg );

	&:hover {
		transform: rotateY( 180deg );
	}
}

.card--matched {
	pointer-events: none;

	.card__back {
		background-color: $cyan;
		box-shadow: 0 0 100px -10px rgba(darken($cyan, 20%), 0.2) inset;
	}

	.fa-heart path {
		fill: #dc6c6c;
	}

	.fa-bolt path {
		fill: #f9f94f;
	}

	.fa-database path {
		fill: #1d6f6f;
	}

	.fa-gamepad path {
		fill: #ec99e7;
	}

	.fa-gem path {
		fill: #a0ffc5;
	}

	.fa-poo path {
		fill: #945959;
	}

	.fa-bomb path {
		fill: #3e3e3e;
	}

	.fa-flask path {
		fill: #55f2ff;
	}

}